{{> head }}
{{> navbar }}
 
 <div class="row">
     <div class="col-1"></div>

   <div class="col-6">
       <h1>titulo del About</h1>
       <p>descripcion en modo simple de lo que seria el dueño de esta pagina</p>
       <h3>nombre de la empresa</h3>
       <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam optio quas, facilis est consequatur laboriosam nemo nulla commodi cumque quia. Laborum reprehenderit est necessitatibus officiis possimus. Neque, dolorem! Sunt, officia.
           Recusandae, eum dolor! Eius exercitationem facere ullam perferendis earum corrupti quisquam, doloremque quos ut impedit voluptates. Pariatur, ab. Tenetur facilis velit iusto molestiae exercitationem quidem ratione sequi hic ipsa animi!
           Quo recusandae obcaecati rem sequi aspernatur distinctio repudiandae alias iusto commodi, molestias tempora a dolores temporibus beatae eos? Repudiandae eius placeat rem explicabo nihil, sit blanditiis amet totam officiis laboriosam.
           Blanditiis quidem ipsam rerum nesciunt expedita voluptatem asperiores voluptas aperiam alias voluptates eius reiciendis ratione similique, eligendi eum est iusto facere deserunt pariatur illo ullam et consequuntur? Rerum, sit similique.
           Est, quo cumque ratione quos esse ipsum molestias quam explicabo! Nihil exercitationem doloremque culpa ipsa labore eligendi perspiciatis enim sequi, maxime soluta doloribus. Harum fugit provident, odit accusamus sequi eligendi!
       </p>
   </div>

   <div class="col-4">
       <img src="assets/img/pirateSky.png" style="height: 500px;" class="img-thumbnail" alt="imagen de la empresa">
   </div>

     <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <a href="/" class="btn btn-dark">Home</a>
    </div>
    <div class="col-5"></div>
</div>
{{> footer }}

