{{> head }}
{{> navbar }}
 
 <section>
    <div class="cuerpo">
        <div class="jumbotron">
            <h1 class="display-4">Hola Mundo! - {{nombre}}</h1>
            <p class="lead">{{ Capitalizar  'este seria el cuerpo de ejemplo donde irian las cosas particulares.'}}!!</p>
            <hr class="my-4">
            <p>{{ Capitalizar 'aqui tiene que ir optro monton de paja pero me da ladilla inventar un estilo actual de que es lo que tendria que colocar en este momento.'}}</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
</section>
<section>
    <a href="about" class="btn btn-dark">About</a>
</section>


{{> footer }}

